* {
    margin: 0;
    padding: 0;
}

.menu {
    background-color: oklch(82.8% 0.189 84.429);
    width: 100%;
    display: flex;  
    justify-content: space-between;
    padding: 20px;

}

.inicio {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.textoCardInicio {
    display: flex;
    flex-direction: column;
}


.cardInicio img {
    max-width: 250px;
    max-height: 250px;

}

.cardInicio {
    background-color: oklch(92% 0.004 286.32);
    max-width: 40%;
    max-height: 30%;
    display: flex;
    flex-direction: row;
    padding: 15px;
    gap: 15px;
}

.textoInicio2 {
    display: flex;
    flex-direction: column;
}


.cardInicio2 {
    background-color: oklch(92% 0.004 286.32);
    max-width: 40%;
    max-height: 30%;
    display: flex;
    flex-direction: row;
    padding: 15px;
    gap: 15px;
}

.cardInicio2 img {
    max-width: 250px;
    max-height: 250px;

}