* {
    margin: 0;
    padding: 0;
}

.menu {
    background-color: oklch(82.8% 0.189 84.429);
    width: 100%;
    display: flex;  
    justify-content: space-between;
    padding: 20px;

}

.inicio {
    background-image: url();
}

.cardInicio img {
    max-width: 250px;
    max-height: 250px;

}

.cardInicio {
    background-color: oklch(92% 0.004 286.32);
    box-shadow: 2px 2px 7px black;
    max-width: 400px;
    max-height: 200px;
}